{% extends "base.html" %}

{% block body %}
<div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">Hippo note</h1>
    <h3 class="mb-5"><em>Note it down</em></h3>
    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
</div>
{% endblock %}

{% block misc %}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>About us</h2>
                <p class="lead mb-5">
                    Hippo note is a technology platform that enables you to create, format, and edit notes in a rich
                    text format kind of way. <a href="/sign-up">Sign up</a> to learn more
                </p>
                <!-- <a class="btn btn-dark btn-xl" href="#services">What We Offer</a> -->
            </div>
        </div>
    </div>
</section>
<!-- Callout-->
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
            Ready to take down those notes?
        </h2>
        <a class="btn btn-primary btn-xl" href="/sign-up">Sign up!</a>
    </div>
</section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">More</h3>
            <h2 class="mb-5">Features</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">have many notes in one place</div>
                            <p class="mb-0">Create as many notes as you want, whenever and however you want.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-1.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">be as colourful as you want</div>
                            <p class="mb-0">With our rich text editor, you can add tables, images, lists, quoted text,
                                among a list of many other items</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-2.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Stay organized</div>
                            <p class="mb-0">Have a list of your notes in one place. Access them efficiently,and edit,
                                view or delete them as you wish</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-3.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Have a clean workspace</div>
                            <p class="mb-0">With a non-cluttered ui, your notes will be much easy to identify at a
                                glance. You can also make use of our search feature to sift through dozens of notes to
                                find the right one</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-4.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
