{% extends "base.html" %}

{% block body %}
<div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">Hippo note</h1>
    <h3 class="mb-5"><em>Note it down</em></h3>
    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
</div>
{% endblock %}

{% block misc %}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>About us</h2>
                <p class="lead mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facere magnam nam veniam
                    doloremque alias aut ut excepturi delectus, hic voluptatibus quisquam unde, maxime odit
                    corrupti? Nobis veniam assumenda tenetur?
                </p>
                <!-- <a class="btn btn-dark btn-xl" href="#services">What We Offer</a> -->
            </div>
        </div>
    </div>
</section>
<!-- Callout-->
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
            Ready to take down those notes?
        </h2>
        <a class="btn btn-primary btn-xl" href="/sign-up">Sign up!</a>
    </div>
</section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">More</h3>
            <h2 class="mb-5">Features</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">have many notes in one place</div>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel sunt
                                explicabo dicta facere. Ad sed nihil, ipsam quas repellat, commodi facilis sapiente,
                                animi dolores beatae amet reprehenderit alias error.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-1.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">be as colourful as you want</div>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel sunt
                                explicabo dicta facere. Ad sed nihil, ipsam quas repellat, commodi facilis sapiente,
                                animi dolores beatae amet reprehenderit alias error.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-2.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Stay organized</div>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel sunt
                                explicabo dicta facere. Ad sed nihil, ipsam quas repellat, commodi facilis sapiente,
                                animi dolores beatae amet reprehenderit alias error.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-3.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Have a clean workspace</div>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel sunt
                                explicabo dicta facere. Ad sed nihil, ipsam quas repellat, commodi facilis sapiente,
                                animi dolores beatae amet reprehenderit alias error.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio-4.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
