{% extends "base.html" %}

{% block body %}
<div class="container px-4 px-lg-5">
  <h2 class="mb-1">{{ note.title }}</h2>
  <div class="d-flex mt-3">
    <a href="/notes/edit/{{ note.id }}" title="edit note" class="btn mx-1 btn-sm btn-success"><i class="fa fa-pencil"
        aria-hidden="true"></i>
    </a>
    <form title="delete note" action="/notes/delete/{{ note.id }}" method="POST" class="form-submission" id="note-1"
      onsubmit="return confirm('Delete this note?')"><button class="btn mx-1 btn-sm btn-danger"><i class="fa fa-trash"
          aria-hidden="true"></i></button></form>
  </div>
  <div id="content" class="mt-3 lead font-weight-bold">{{ note.content }}</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.1/purify.min.js"
  integrity="sha512-TU4FJi5o+epsahLtM9OFRvH2gXmmlzGlysk9wtTFgbYbMvFzh3Cw1l3ubnYIvBiZCC/aurRHS408TeEbcuOoyQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  let content = document.querySelector('#content').innerHTML
  document.querySelector('#content').setHTML(content, { sanitizer: new Sanitizer() })
</script>
{% endblock %}
